* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f3f1f0;
}

.game {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.setup {
  grid-column-start: span 2;
  display: flex;
  padding: 10px 0 16px 6px;
}

.setup label,
.setup input,
.setup button {
  font-family: "Major Mono Display", monospace;
  background-color: #f3f1f0;
  border: none;
  font-size: 1rem;
}

.setup label {
  margin-left: 10px;
}

.setup #start {
  border: 1px solid #333;
  padding: 10px;
  margin-left: 30px;
}

.setup #start:hover {
  background-color: #333;
  color: #fff;
}

.setup input[id="columns"],
.setup input[id="rows"] {
  border-bottom: 1px solid #666;
  text-align: center;
  font-family: sans-serif;
  padding: 0 0 3px 12px;
}

.setup input[id="hip"],
.setup input[id="vintage"] {
  display: none;
}

.setup label[for="hip"],
.setup label[for="vintage"] {
  margin-left: 10px;
}

.setup label[for="vintage"] {
  margin-left: 20px;
}

.setup label[for="hip"],
.setup label[for="vintage"] {
  padding-bottom: 4px;
}

.setup input[id="hip"]:checked + label,
.setup input[id="vintage"]:checked + label,
.setup label[for="hip"]:hover,
.setup label[for="vintage"]:hover {
  font-style: italic;
}

.setup input[id="hip"]:checked + label,
.setup input[id="vintage"]:checked + label {
  border-bottom: solid 1px #333;
}

.configuration-toggle {
  display: none;
}

label[for="configuration-toggle"] {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.5rem;
  border: 1px solid #555;
  border-radius: 100%;
  height: 2.4rem;
  width: 2.4rem;
  text-align: center;
  background-color: #daa942;
  color: #111;
}

.configuration-toggle ~ label[for="configuration-toggle"]:before {
  content: "⬇︎";
}

.configuration-toggle ~ .configuration {
  display: none;
}

.configuration-toggle:checked ~ label[for="configuration-toggle"]:before {
  content: "⬆︎";
}

.configuration-toggle:checked ~ .configuration {
  display: block;
}

.level,
.score {
  width: 100%;
  padding: 10px;
  padding-left: 16px;
  color: #fff;
  background-color: #333;
  font-size: 1.2rem;
  font-family: "Major Mono Display", monospace;
}

.level::before {
  content: "level: ";
}

.score::before {
  content: "score: ";
}

.grid {
  grid-column-start: span 2;
  display: grid;
  grid-gap: 4px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-content: center;
  position: relative;
  transition: transform 0.5s ease-out;
  pointer-events: none;
}

.grid.vintage {
  border: 4px double #333;
  border-radius: 5px;
}

.grid.game-over {
  transform: rotate3d(1, 1, 1, 45deg);
}

.grid.level-clear {
  background: gold;
}

.cell {
  border: solid 1px #ddd;
  padding-top: 100%;
  border-radius: 100%;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.head {
  background: #daa942;
}

.head.right {
  border-radius: 15px 100% 100% 15px;
}

.head.right::before,
.head.right::after,
.head.up::before,
.head.up::after,
.head.left::before,
.head.left::after,
.head.down::before,
.head.down::after {
  position: absolute;
  content: "";
  right: 7px;
  height: 2px;
  width: 7px;
  background: #333;
}

.head.right:before {
  top: 30%;
}

.head.right::after,
.head.left::after {
  bottom: 30%;
}

.head.left:before {
  top: 30%;
}

.head.up {
  border-radius: 100% 100% 15px 15px;
}

.head.up:before,
.head.up::after {
  top: 35%;
}

.head.up:before {
  left: 20%;
  transform: rotate(135deg);
}

.head.up::after {
  right: 20%;
  transform: rotate(45deg);
}

.head.left {
  border-radius: 100% 15px 15px 100%;
}

.head.left:before,
.head.left::after {
  left: 20%;
}

.head.down {
  border-radius: 15px 15px 100% 100%;
}

.head.down:before,
.head.down::after {
  bottom: 35%;
}

.head.down:before {
  left: 20%;
  transform: rotate(45deg);
}

.head.down::after {
  right: 20%;
  transform: rotate(135deg);
}

.tail {
  background: #daa942;
  border-radius: 100%;
}

.heart {
  position: relative;
  border: none;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 10%;
  width: 52%;
  height: 80%;
  background: #b34159;
  border-radius: 50% 50% 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.stop {
  position: relative;
  border: none;
}

.stop:before,
.stop:after {
  background: #333;
  content: "";
  height: 100%;
  left: 45%;
  position: absolute;
  width: 10%;
  margin-top: -100%;
}

.stop:before {
  transform: rotate(45deg);
}

.stop:after {
  transform: rotate(135deg);
}

.grid.game-over .head {
  background: brown;
}
