* {
  font-family: "Major Mono Display", monospace;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.75px;
  word-spacing: 0px;
  text-transform: lowercase;
}

body {
  font-family: "Major Mono Display", monospace;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: -0.75px;
  word-spacing: 0px;
}

button {
  font-family: "Major Mono Display";
  text-transform: lowercase;
}
